$primary-color: #A11C3A;

*, *:before, *:after {
    box-sizing: border-box;
}

a {
    color: $primary-color;
    text-decoration: none;
    position: relative;

    &::after {
        position: absolute;
        content: "";
        width: 0%;
        height: 2px;
        left: 0;
        bottom: 0;
        background-color: $primary-color;
        transition: all .3s ease;
    }

    &:hover::after {
        width: 100%;
    }
}
