/* Assign: The text color #3D3D3D to the HTML tags body and p. The background color #6D6D6D to the HTML tags body and h2. */

$grey-dark: #3D3D3D;
$grey-light: #6D6D6D;

body {
	color: $grey-dark;
	background-color: $grey-light;
}

p {
    color: $grey-dark;
}

h2 {
	background-color: $grey-light;
}
